{% extends 'base1.html' %}

{% load static %}


{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'css/back.css' %}">

</head>

<body>
	<div class="container1 ">

		<img src="{% static 'img/make1.png' %}" alt="">

	</div>



	<!-- start features Area -->
	<div class="container2 text-white bg">
		<section class="features-area section_gap ">
			<div class="container">
				<div class="row features-inner">
					<!-- single features -->
					<div class="col-lg-3 col-md-6 col-sm-6 ">
						<div class="single-features ">
							<div class="f-icon  ">
								<img src=" {% static 'img/features/f-icon1.png' %}" alt="">
							</div>
							<h6>Free Delivery</h6>
							<p>Free Shipping on all order</p>
						</div>
					</div>
					<!-- single features -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-features">
							<div class="f-icon">
								<img src="img/features/f-icon2.png" alt="">
							</div>
							<h6>Return Policy</h6>
							<p>Free Shipping on all order</p>
						</div>
					</div>
					<!-- single features -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-features">
							<div class="f-icon">
								<img src="img/features/f-icon3.png" alt="">
							</div>
							<h6>24/7 Support</h6>
							<p>Free Shipping on all order</p>
						</div>
					</div>
					<!-- single features -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-features">
							<div class="f-icon">
								<img src="img/features/f-icon4.png" alt="">
							</div>
							<h6>Secure Payment</h6>
							<p>Free Shipping on all order</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- end features Area -->

	<!-- start product Area -->
	<section class="owl-carousel active-product-area section_gap">
		<!-- single product slide -->
		<div class="single-product-slider ">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Latest Products</h1>

						</div>
					</div>
				</div>
				<div class="row">
					<!-- single product -->
					{% for k in products %}
					<div class="col-lg-3 col-md-6 ">
						<div class="single-product">
							<a href="{% url 'product' product_id=k.id %}"><img class="img-fluid" src="{{k.image1.url}}" alt=""></a>
							<div class="product-details bg-dark p-1 text-center ">
								<a href="#">
									<h6>{{k.product_name}}</h6>
								</a>
								<div class="price">
									<h6 class="">₹{{k.price}}</h6>
								</div>

							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Latest Products</h1>

						</div>
					</div>
				</div>
				<div class="row">
					<!-- single product -->
					{% for k in products %}
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<a href="#"><img class="img-fluid" src="{{k.image1.url}}" alt=""></a>
							<div class="product-details  bg-dark p-1 text-center">
								<a href="#">
									<h6>{{k.product_name}}</h6>
								</a>
								<div class="price">
									<h6>₹{{k.price}}</h6>
								</div>

							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<!-- end product Area -->












</body>

</html>


{% endblock content %}